$primaryColor: #fd3e72;
$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 992px)";
$maxTab: "(max-width: 992px)";
$betweentabdesk: "(min-width: 1000px) and (max-width: 1200px)";

@font-face {
  font-family: "AvertaBold";
  src: url(../fonts/Averta-Bold.otf);
}

@font-face {
  font-family: "Averta";
  src: url(../fonts/Averta.otf);
}

@font-face {
  font-family: "AvertaSemibold";
  src: url(../fonts/Averta-Semibold.otf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Averta", sans-serif;
  position: relative;
  overflow-x: hidden;
  color: #5b5863;
  background-color: #f9f8f4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "AvertaBold", sans-serif;
}

::selection {
  background-color: #5b5863;
  color: #fff;
}

a {
  text-decoration: none !important;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.primary--btn {
  background-color: $primaryColor;
  font-family: "AvertaSemibold";
  color: #fff;
  border: 0;
  transition: all 0.3s ease-in-out;
  @media #{$mobile} {
    font-size: 18px;
  }
  &:hover {
    background-color: #e33866;
    i {
      left: 14px;
    }
  }
  &:active {
    background-color: #ff5785;
  }
  i {
    position: relative;
    transition: all 0.3s ease-in-out;
    left: 10px;
    top: 2px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    position: relative;
  }
}

@media #{$mobile} {
  .container {
    padding: 0 20px;
    position: relative;
  }
}

.wrapper {
  overflow: hidden;
}

.wrapper-header {
  overflow: hidden;
  padding-bottom: 75px;
  @media #{$mobile} {
    padding-bottom: 0;
  }
}

button:focus {
  box-shadow: none;
  outline: none;
}

body.overlay:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(#000, 0.5);
  z-index: 1;
  margin: 0;
  overflow: hidden;
}

/* Start Header */
header {
  position: relative;
  z-index: 3;

  .navbar-show-mobile {
    background-color: #fff !important;
  }

  .navbar {
    padding-top: 32px;
    @media #{$maxTab} {
      padding-bottom: 0;
      padding: 20px 25px 25px;
      position: absolute !important;
      z-index: 9999;
      width: 100%;

      .navbar-collapse {
        border-top: 1px solid #ebe8df;
        margin: 20px -25px 0;
      }
    }
    .navbar-brand {
      margin-right: 33px;
      @media #{$maxTab} {
        padding: 0;
        margin: 0;
        img {
          transform: scale(0.9);
        }
      }
    }
    .navbar-nav {
      @media #{$maxTab} {
        padding-left: 10px;
        padding-top: 25px;
        .nav-item {
          font-size: 14px;
          line-height: 40px;
        }
      }
      .nav-link {
        padding-left: 14px;
        padding-right: 14px;
        @media #{$maxTab} {
          line-height: 25px;
        }
      }
    }
    .login {
      @media #{$maxTab} {
        padding-left: 10px;
        padding-right: 20px;
      }
      .login-item {
        display: inline-block;
        &:first-child {
          margin-right: 12px;
        }
        &:last-child {
          @media #{$maxTab} {
            display: block;
            border-top: 1px solid #ebe8df;
            margin-top: 20px;
            padding-top: 25px;
            margin-left: -25px;
            margin-right: -25px;
          }
        }
        .login-link {
          font-size: 16px;
          line-height: 19px;
          color: #5b5863;
          padding: 8px 12px;
          display: block;
          transition: color 0.3s ease-in-out;
          font-family: "AvertaSemibold";
          &:hover {
            color: $primaryColor;
          }
        }
        .get-started {
          background: $primaryColor;
          color: #fff;
          padding: 10px 20px;
          display: block;
          font-size: 14px;
          text-align: center;
          transition: background-color 0.3s ease-in-out;
          @media #{$maxTab} {
            margin-left: 35px;
            margin-right: 25px;
            padding: 13.5px;
          }
          &:hover {
            background-color: #e33866;
          }
        }
      }
    }
  }
}

.navbar-light .navbar-toggler {
  padding: 6px 11px;
  border-radius: 0;
  border: 1px solid #e1e0de;
  img {
    &:last-child {
      display: none;
    }
  }
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: $primaryColor;
}

.navbar-light .navbar-nav .nav-link {
  font-family: "AvertaSemibold";
  color: #5b5863;
  font-size: 16px;
  line-height: 19px;
  transition: color 0.3s ease-in-out;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: $primaryColor;
}

.dropdown-toggle {
  &::after {
    content: "\f107";
    font-family: fontawesome;
    border: 0;
    color: #928e9d;
    vertical-align: middle;
    margin-left: 5px;
    transition: color 0.3s ease-in-out;
  }
  &:hover {
    &:after {
      color: $primaryColor;
    }
  }
}

/* End Header */

/* Start Hero Image */
.hero-img {
  position: relative;
  @media #{$mobile} {
    text-align: center;
    padding-top: 90px;
  }

  &-content {
    .hero-img-title {
      font-size: 80px;
      line-height: 88px;
      margin: 148px 0 20px;
      @media #{$mobile} {
        font-size: 36px;
        line-height: 44px;
        margin-top: 30px;
        width: 85%;
        margin: 30px auto 17px;
      }
      @media #{$tablet} {
        font-size: 45px;
        line-height: 1.5;
        margin: 100px auto 17px;
      }
      @media #{$betweentabdesk} {
        font-size: 60px;
        line-height: 75px;
      }
    }
    .hero-img-txt {
      font-size: 28px;
      line-height: 33px;
      @media #{$mobile} {
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 0;
      }
      @media #{$tablet} {
        font-size: 22px;
        line-height: 22px;
      }
      @media #{$betweentabdesk} {
        font-size: 24px;
        line-height: 24px;
      }
    }
    .hero-img-btn {
      background-color: $primaryColor;
      font-family: "AvertaSemibold";
      color: #fff;
      padding: 24px 57px;
      border: none;
      margin: 60px 0 17px;
      transition: background 0.3s ease-in-out;
      @media #{$mobile} {
        margin-top: 32px;
        font-size: 20px;
        width: 100%;
        padding: 21px;
      }
      @media #{$tablet} {
        margin-top: 32px;
      }
      &:hover {
        background-color: #e33866;
        i {
          left: 14px;
        }
      }
      &:active {
        background-color: #ff5785;
      }
    }
    span {
      margin-left: 18px;
      display: block;
      font-size: 14px;
      line-height: 16px;
      color: #33303f;
      opacity: 0.6;
      @media #{$mobile} {
        i {
          font-size: 10px;
        }
      }
    }
  }
  .hero-img-image {
    position: relative;
    @media #{$mobile} {
      height: 270px;
    }
    img {
      position: absolute;
      top: 50px;
      left: -10px;
      z-index: 1;
      @media #{$mobile} {
        transform: scale(0.5);
        top: -130px;
        left: -210px;
      }
      @media #{$tablet} {
        left: -200px;
        transform: scale(0.6);
      }
      @media #{$betweentabdesk} {
        left: -135px;
        transform: scale(0.75);
      }
    }
  }
  .header-shape {
    position: absolute;
    top: -520px;
    right: -210px;
    z-index: -1;
    @media #{$mobile} {
      transform: scale(0.65);
      top: -530px;
      left: -125px;
    }
    @media #{$tablet} {
      top: -505px;
      right: -560px;
      transform: scale(0.75);
    }
    @media #{$betweentabdesk} {
      top: -470px;
      right: -500px;
      transform: scale(0.8);
    }
  }
}
/* End Hero Image */

/* Start Features */
.features {
  padding-top: 75px;
  overflow: hidden;
  @media #{$mobile} {
    padding-top: 35px;
  }
  .features-content {
    .feat {
      padding: 80px 60px 60px;
      background-color: #fff;
      width: 350px;
      margin: auto;
      transition: all 0.3s ease-in-out;
      &:hover {
        box-shadow: 0px 50px 59px rgba(240, 238, 233, 0.8), 0px 3px 8px #e6e4df;
      }
      @media #{$tablet} {
        padding: 36px 10px 36px 20px;
        width: 100%;
      }
      @media #{$mobile} {
        margin-bottom: 16px;
        padding: 36px;
        width: 100%;
      }
      @media #{$betweentabdesk} {
        padding: 60px 40px;
        width: 100%;
      }
      &-hr {
        border-color: #ebe8df;
        margin-top: 60px;
        margin-bottom: 40px;
        @media #{$mobile} {
          margin-top: 32px;
          margin-bottom: 32px;
        }
        @media #{$tablet} {
          margin-top: 40px;
          margin-bottom: 30px;
        }
      }
      &-title {
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 20px;
        @media #{$mobile} {
          font-size: 16px;
          line-height: 16px;
          margin-bottom: 16px;
        }
        @media #{$tablet} {
          font-size: 17px;
          line-height: 20px;
          margin-bottom: 15px;
        }
      }
      &-txt {
        font-size: 16px;
        line-height: 28px;
        @media #{$mobile} {
          font-size: 14px;
          line-height: 24px;
          margin-bottom: 10px;
        }
        @media #{$tablet} {
          font-size: 15px;
          line-height: 26px;
        }
      }
    }
  }

  .feat-more {
    text-align: center;
    margin-top: 44px;
    padding-bottom: 100px;
    border-bottom: 1px solid rgba(#838088, 0.2);
    @media #{$mobile} {
      margin-top: 5px;
      padding-bottom: 0;
      border-bottom: 0;
    }
    @media #{$tablet} {
      padding-bottom: 50px;
    }
    a {
      color: $primaryColor;
      text-decoration: underline !important;
      transition: all 0.3s ease-in-out;
      i {
        margin-left: 4px;
      }
      &:hover {
        text-decoration: none !important;
        color: #e33866;
      }
    }
  }
}
/* End Features */

/* Start advantages */
.advantages {
  padding-top: 130px;
  padding-bottom: 200px;
  overflow: hidden;
  @media #{$mobile} {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media #{$tablet} {
    padding-top: 0;
    padding-bottom: 60px;
  }
  @media #{$betweentabdesk} {
    padding-top: 60px;
    padding-bottom: 100px;
  }
  .section-one,
  .section-two,
  .section-three {
    padding-right: 15px;
    padding-left: 15px;
    @media #{$mobile} {
      padding-left: 0;
      padding-right: 0;
    }
    .advantages-content {
      .advantages-title {
        padding-top: 70px;
        font-size: 36px;
        line-height: 44px;
        @media #{$mobile} {
          padding-top: 50px;
          font-size: 24px;
          line-height: 28px;
          width: 70%;
          margin-bottom: 0;
        }
        @media #{$tablet} {
          padding-top: 100px;
          font-size: 30px;
          line-height: 36px;
        }
      }
      .advantages-desc {
        font-size: 18px;
        line-height: 28px;
        margin-top: 26px;
        margin-bottom: 40px;
        width: 75%;
        @media #{$maxTab} {
          font-size: 16px;
          line-height: 28px;
          width: 100%;
          margin-top: 24px;
          margin-bottom: 21px;
        }
        @media #{$tablet} {
          width: 100%;
        }
      }
      .advantages-btn {
        padding: 24px 57px;
        @media #{$mobile} {
          padding: 22.5px 51.5px;
        }
      }
    }
    .advantages-img {
      text-align: left;
      @media #{$mobile} {
        position: relative;
        height: 300px;
        img {
          transform: scale(0.66);
          top: -90px;
          left: -33%;
          position: absolute;
        }
      }
      @media #{$tablet} {
        position: relative;
        height: 300px;
        img {
          transform: scale(0.7);
          left: -41%;
          position: absolute;
        }
      }
      @media #{$betweentabdesk} {
        position: relative;
        height: 300px;
        img {
          position: absolute;
          transform: scale(0.8);
          left: -8%;
        }
      }
    }
  }
  .section-two {
    .advantages-content {
      .advantages-title {
        padding-top: 150px;
        width: 80%;
        @media #{$mobile} {
          padding-top: 115px;
          width: 90%;
        }
        @media #{$tablet} {
          width: 100%;
        }
      }
      .advantages-desc {
        @media #{$mobile} {
          margin-bottom: 0;
        }
      }
    }
    .advantages-img {
      text-align: center;
      padding-top: 60px;
      @media #{$mobile} {
        img {
          transform: scale(0.8);
          top: 23px;
          left: -12%;
          position: absolute;
        }
      }
      @media #{$tablet} {
        img {
          transform: scale(0.8);
          top: 50px;
          left: -12%;
          position: absolute;
        }
      }
    }
  }
  .section-three {
    padding-top: 100px;
    @media #{$mobile} {
      padding-top: 90px;
    }
    .advantages-content {
      .advantages-title {
        width: 80%;
        padding-top: 20px;
        @media #{$mobile} {
          padding-top: 0;
          width: 65%;
        }
        @media #{$tablet} {
          width: 90%;
        }
      }
      .advantages-desc {
        @media #{$mobile} {
          margin-bottom: 26px;
        }
      }
    }
    .advantages-img {
      @media #{$mobile} {
        img {
          top: -90px;
          left: 50%;
          transform: translateX(-50%) scale(0.7);
        }
      }
      @media #{$tablet} {
        img {
          top: 0;
          left: -31%;
          transform: scale(0.7);
        }
      }
    }
    .advantages-icons {
      margin-bottom: 40px;
      @media #{$maxTab} {
        margin-bottom: 20px;
      }
      li {
        display: inline-block;
        margin-right: -6px;
        a {
          &:hover {
            img {
              opacity: 1;
              filter: none;
            }
          }
        }
        img {
          opacity: 0.8;
          filter: grayscale(100%);
          transform: scale(0.55);
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}
/* End advantages */

/* Start Servers */
.servers {
  background-color: #fff;
  padding-top: 155px;
  overflow: hidden;
  @media #{$tablet} {
    padding-top: 60px;
  }
  @media #{$betweentabdesk} {
    padding-top: 100px;
  }
  @media #{$mobile} {
    padding-top: 40px;
    .server-map-img {
      position: relative;
      height: 120px;
      img {
        transform: scale(0.34);
        position: absolute;
        top: -230px;
        left: -390px;
      }
    }
  }
  .servers-title {
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    width: 46%;
    margin: auto;
    margin-bottom: 80px;
    @media #{$mobile} {
      font-size: 24px;
      line-height: 28px;
      width: 85%;
    }
    @media #{$tablet} {
      font-size: 30px;
      line-height: 36px;
      width: 65%;
      margin-bottom: 40px;
    }
    @media #{$betweentabdesk} {
      width: 60%;
    }
  }
  .servers-content {
    background: url(../imgs/Map.png) center center no-repeat;
    padding-top: 165px;
    padding-bottom: 210px;
    margin: 0 65px;
    @media #{$betweentabdesk} {
      background-size: contain;
      padding-top: 95px;
      padding-bottom: 130px;
      margin: 0 20px;
    }
    @media #{$tablet} {
      background: none;
      position: relative;
      padding-top: 85px;
      padding-bottom: 100px;

      margin: 0;
      .map {
        position: absolute;
        top: -70px;
        left: -230px;
        transform: scale(0.7);
      }
    }
    @media #{$mobile} {
      background: none;
      padding-top: 0;
      padding-bottom: 0;
      margin: 0;
      border: 1px solid #f2f0e9;
      text-align: center;
      margin-bottom: 8px;
      .row {
        padding: 0 20px;
      }
      .col-4 {
        padding: 0;
      }
    }

    .server-feat {
      position: relative;
      padding-left: 132px;
      padding-top: 38px;
      padding-bottom: 38px;
      padding-right: 70px;
      width: 310px;
      margin: auto;
      background: #ffffff;
      box-shadow: 0px 50px 59px rgba(240, 238, 233, 0.8), 0px 6px 9px #e6e4df;
      transition: all 0.3s ease-in-out;
      &:hover {
        box-shadow: 0px 5px 20px rgba(240, 238, 233, 0.8), 0px 2px 3px #e6e4df;
      }
      @media #{$mobile} {
        width: 100%;
        padding: 5px 20px 20px;
        box-shadow: none;
      }
      @media #{$tablet} {
        width: 100%;
        padding: 20px;
        text-align: center;
      }
      @media #{$betweentabdesk} {
        width: 100%;
        padding-left: 140px;
        padding-right: 30px;
      }

      img {
        position: absolute;
        @media #{$mobile} {
          position: static;
          margin-bottom: -5px;
          transform: scale(0.5);
          display: block;
        }
        @media #{$tablet} {
          position: static;
          margin-bottom: -5px;
          transform: scale(0.8);
          display: block;
          margin: auto;
        }
      }
      h2 {
        position: relative;
        font-size: 56px;
        line-height: 56px;
        display: inline-block;
        margin-bottom: 0;
        @media #{$mobile} {
          font-size: 28px;
          line-height: 28px;
          display: block;
          margin-bottom: 5px;
        }
        @media #{$tablet} {
          font-size: 36px;
          line-height: 44px;
          display: block;
        }
        span {
          position: absolute;
          top: 0;
          right: -20px;
          font-size: 20px;
          line-height: 20px;
          color: #a29cb0;
          font-family: "Averta";
          @media #{$mobile} {
            font-size: 14px;
            line-height: 14px;
            right: -5px;
          }
          @media #{$tablet} {
            font-size: 17px;
            line-height: 17px;
            right: 35px;
          }
        }
      }
      span {
        font-size: 20px;
        line-height: 20px;
        display: block;
        @media #{$mobile} {
          font-size: 14px;
          line-height: 14px;
        }
        @media #{$tablet} {
          font-size: 17px;
          line-height: 17px;
        }
      }
      &.one {
        @media #{$mobile} {
          border-right: 1px solid #f2f0e9;
        }
        img {
          top: 45px;
          left: 30px;
          @media #{$mobile} {
            position: relative;
            left: -10px;
            top: 0;
          }
        }
      }
      &.two {
        @media #{$mobile} {
          border-right: 1px solid #f2f0e9;
        }
        img {
          top: 50px;
          left: 50px;
        }
      }
      &.three {
        img {
          top: 50px;
          left: 50px;
        }
      }
    }
  }
  .server-btn {
    padding-bottom: 140px;
    @media #{$mobile} {
      padding-bottom: 24px;
    }
    @media #{$tablet} {
      padding-bottom: 60px;
    }
    @media #{$betweentabdesk} {
      padding-bottom: 100px;
    }
    button {
      padding: 24px 64px;
      background-color: #ffecf1;
      color: $primaryColor;
      transition: all 0.3s ease-in-out;
      @media #{$mobile} {
        width: 100%;
        font-size: 18px;
      }
      &:hover {
        background-color: $primaryColor;
        color: #fff;
        i {
          color: #fff;
        }
      }
      &:active {
        background-color: #ff5784;
      }
    }
  }
}
/* End Servers */

/* Start Testimonials */
.testimonials {
  padding-bottom: 110px;
  background-color: #f9f8f4;
  @media #{$mobile} {
    .no-padding {
      padding: 0;
    }
    .container {
      padding: 0 15px;
    }
  }
  @media #{$tablet} {
    padding-bottom: 60px;
    .row {
      margin-right: -40px;
    }
  }
  .testimonials-text {
    font-size: 20px;
    line-height: 20px;
    opacity: 0.7;
    margin-bottom: 15px;
    padding-left: 35px;
    padding-top: 140px;
    @media #{$mobile} {
      padding-left: 0;
      font-size: 14px;
      line-height: 20px;
      padding-top: 60px;
      text-align: center;
      margin-bottom: 9px;
    }
    @media #{$tablet} {
      padding-left: 20px;
      padding-top: 60px;
    }
    span {
      font-family: "AvertaBold";
    }
  }
  .testimonials-title {
    padding-left: 35px;
    font-size: 36px;
    line-height: 44px;
    @media #{$mobile} {
      padding-left: 0;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
    }
    @media #{$tablet} {
      padding-left: 20px;
      font-size: 30px;
      line-height: 36px;
    }
  }
  .testimonials-tabs {
    padding-top: 70px;
    padding-right: 50px;
    @media #{$mobile} {
      padding-top: 60px;
      padding-right: 0;
      border-bottom: 1px solid #ebe8e0;
    }
    @media #{$tablet} {
      padding-top: 60px;
      padding-right: 0;
    }
    @media #{$betweentabdesk} {
      padding-right: 0;
    }
    li {
      border-bottom: 1px solid #ebe8e0;
      font-size: 20px;
      padding-bottom: 32px;
      padding-top: 32px;
      @media #{$mobile} {
        display: inline-block;
        border: 0;
        position: relative;
        padding: 0 0 13px;
        font-size: 16px;
      }
      &:first-child {
        padding-top: 0;
      }
      a {
        color: #5b5863;
        padding: 10px 0;
        @media #{$mobile} {
          padding: 10px 20px;
        }
      }

      &.active {
        a {
          color: $primaryColor;
          position: relative;

          &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 68px;
            width: 100%;
            height: 2px;
            background-color: $primaryColor;
            @media #{$mobile} {
              top: 43px;
            }
          }
        }
        .review {
          background-color: #ffecf1;
          color: $primaryColor;
          img {
            filter: none;
          }
        }
      }
      .review {
        background-color: #ebe9e1;
        border-radius: 40px;
        padding: 6px 13px;
        margin-left: 8px;
        font-size: 16px;
        @media #{$mobile} {
          position: absolute;
          top: -26px;
          left: 50%;
          width: 50px;
          transform: translateX(-50%);
          font-size: 13px;
          margin-left: 0;
          padding: 2px;
          text-align: center;
        }
        img {
          position: relative;
          top: -2px;
          filter: grayscale(100%);
        }
      }
    }
  }
  .testimonials-slider {
    .slider {
      &.content-three,
      &.content-two {
        display: none;
        transition: all 0.5s ease-in-out;
      }
      @media #{$mobile} {
        height: 120px;
        .container {
          padding: 0;
        }
      }
      @media #{$tablet} {
        .container {
          padding-right: 0;
        }
      }
      .owl-carousel {
        z-index: 1;
        position: absolute;
        width: 1470px;
        left: 30px;
        top: 70px;
        @media #{$maxTab} {
          left: 20px;
          width: 100%;
          // position: static;
        }
        @media #{$betweentabdesk} {
          left: 30px;
          width: 100%;
        }
        .owl-stage-outer {
          padding-bottom: 50px;
          padding-left: 20px;
        }
        .testim {
          box-shadow: 10px 10px 50px -20px #e6e4df, -10px 6px 20px -15px #e6e4df;
          background-color: #fff;
          padding: 80px 0 55px 60px;
          @media #{$mobile} {
            padding: 32px 0 55px 24px;
          }
          @media #{$tablet} {
            padding: 40px 0 55px 30px;
          }
          img {
            width: auto;
          }
          .quote {
            margin-bottom: 65px;
            @media #{$mobile} {
              margin-bottom: 25px;
            }
            @media #{$tablet} {
              margin-bottom: 30px;
            }
          }
          .review {
            position: relative;
            .review-img {
              display: inline-block;
              position: relative;
              top: -4px;
            }
            span {
              font-size: 16px;
              line-height: 28px;
              margin-left: 5px;
            }
            &:after {
              content: "";
              position: absolute;
              right: 0;
              width: 160px;
              height: 1px;
              background-color: #ebe8df;
              top: 50%;
              transform: translateY(-50%);
              @media #{$mobile} {
                width: 140px;
              }
            }
          }
          .testim-txt {
            font-size: 16px;
            line-height: 28px;
            margin-top: 32px;
            margin-bottom: 57px;
            width: 80%;
            @media #{$mobile} {
              margin-top: 35px;
              margin-bottom: 20px;
              width: 85%;
            }
          }
          .testim-author {
            h4 {
              font-size: 16px;
              line-height: 20px;
              span {
                width: 36px;
                height: 36px;
                display: inline-block;
                border-radius: 50%;
                margin-right: 12px;
                background-color: #ffedf2;
                color: $primaryColor;
                text-align: center;
                line-height: 36px;
              }
              img {
                display: inline-block;
                margin-right: 12px;
              }
            }
          }
        }
      }
    }
  }
  // owl nav format
  .owl-theme .owl-nav {
    bottom: 50px;
    margin-top: 0;
    position: absolute;
    left: -319px;
    @media #{$mobile} {
      left: 10px;
      bottom: -40px;
    }
    @media #{$tablet} {
      left: -250px;
    }
    @media #{$betweentabdesk} {
      left: -265px;
    }
  }
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel .owl-nav button.owl-prev {
    background-color: #f0eee9;
    width: 72px;
    height: 72px;
    line-height: 72px;
    text-align: center;
    margin: 0 10px;
    border-radius: 0;
    transition: all 0.3s ease-in-out;
    @media #{$mobile} {
      height: 44px;
    }
    &:hover {
      background-color: #e5e4df;
      i {
        color: #3d3b42;
      }
    }
    i {
      color: #5b5863;
      display: block;
      font-size: 24px;
      transition: color 0.3s ease-in-out;
    }
  }
}
/* End Testimonials */

/* Start Authority */
.authority {
  background-color: #fff;
  padding-top: 275px;
  @media #{$mobile} {
    padding-top: 400px;
  }
  .authority-content {
    margin: 0 100px;
    border-top: 1px solid #ebe8df;
    padding-top: 70px;
    padding-bottom: 160px;
    @media #{$mobile} {
      padding-top: 42px;
      margin: 0;
      padding-bottom: 60px;
      .authority-img {
        text-align: center;
        img {
          transform: scale(0.68);
        }
      }
    }
    @media #{$tablet} {
      margin: 0;
      padding-bottom: 60px;
      .authority-img {
        text-align: center;
        img {
          transform: scale(0.75);
          margin-left: -30px;
          margin-top: 10px;
        }
      }
    }
    @media #{$betweentabdesk} {
      margin: 0 20px;
      padding-bottom: 100px;
    }
    .authority-text {
      position: relative;
      padding-left: 130px;
      @media #{$mobile} {
        padding-left: 0;
      }

      img {
        position: absolute;
        top: 50%;
        left: 30px;
        transform: translateY(-50%);
        @media #{$mobile} {
          top: -40px;
          left: 0;
        }
      }
      p {
        font-size: 16px;
        line-height: 28px;
        @media #{$mobile} {
          margin-bottom: 0;
        }
      }
    }
  }
}
/* End Authority */

/* Start Customers Features */
.customers-features {
  background-color: #fff;
  overflow: hidden;
  .custoemer-feat {
    background-color: #f9f8f4;
    padding: 130px 60px;
    position: relative;
    @media #{$mobile} {
      padding: 40px 32px 60px;
      margin-bottom: 4px;
    }
    @media #{$tablet} {
      padding: 65px 32px 60px;
    }
    img {
      @media #{$mobile} {
        transform: scale(0.63);
      }
      @media #{$tablet} {
        transform: scale(0.8);
      }
    }
    h2 {
      margin: 58px 0 26px;
      font-size: 36px;
      line-height: 44px;
      @media #{$mobile} {
        font-size: 24px;
        line-height: 28px;
        margin: 12px 0 16px;
      }
      @media #{$tablet} {
        font-size: 26px;
        line-height: 32px;
        margin: 20px 0;
      }
    }
    p {
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 36px;
      @media #{$mobile} {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 20px;
      }
    }
    button {
      font-size: 20px;
      padding: 21px 42px;
      font-family: "AvertaSemibold";
      background-color: #ffecf1;
      color: $primaryColor;
      &:hover {
        background-color: $primaryColor;
        color: #fff;
        i {
          color: #fff;
        }
      }
      &:active {
        background-color: #ff5784;
      }
    }
    &.one {
      margin-right: 5px;
      @media #{$mobile} {
        margin-right: 0;
      }
      &:before {
        content: "";
        position: absolute;
        display: block;
        top: -60px;
        left: -60px;
        border-width: 60px;
        border-style: solid;
        border-color: transparent #fff transparent transparent;
        transform: rotate(45deg);
        @media #{$mobile} {
          top: -30px;
          left: -30px;
          border-width: 30px;
        }
        @media #{$tablet} {
          top: -40px;
          left: -40px;
          border-width: 40px;
        }
      }
    }
    &.two {
      padding-top: 118px;
      margin-left: 5px;
      @media #{$mobile} {
        padding: 30px 32px 60px;
        margin-left: 0;
      }
      @media #{$tablet} {
        padding: 40px 32px 60px;
      }
      &:before {
        content: "";
        position: absolute;
        display: block;
        bottom: -60px;
        right: -60px;
        border-width: 60px;
        border-style: solid;
        border-color: transparent transparent transparent #fff;
        transform: rotate(45deg);
        @media #{$mobile} {
          bottom: -30px;
          right: -30px;
          border-width: 30px;
        }
        @media #{$tablet} {
          bottom: -40px;
          right: -40px;
          border-width: 40px;
        }
      }
      h2 {
        margin-top: 38px;
        @media #{$mobile} {
          margin-top: -5px;
        }
        @media #{$tablet} {
          margin-top: 13px;
        }
      }
      button {
        background-color: $primaryColor;
        color: #fff;
        &:hover {
          background-color: #e33866;
        }
        &:active {
          background-color: #ff5784;
        }
      }
    }
  }
}
/* End Customers Features */

/* Start Footer */
footer {
  background-color: #fff;
  padding-top: 100px;
  @media #{$maxTab} {
    padding-top: 60px;
  }
  .footer-content {
    text-align: center;
    .footer-logo {
      img {
        user-select: none;
        @media #{$mobile} {
          transform: scale(0.75);
        }
      }
    }
    .apps {
      margin-top: 38px;
      margin-bottom: 30px;
      font-size: 18px;
      line-height: 28px;
      @media #{$mobile} {
        margin-top: 28px;
        margin-bottom: 12px;
      }
    }
    .footer-icons {
      margin-bottom: 90px;
      @media #{$mobile} {
        margin-bottom: 40px;
      }
      @media #{$tablet} {
        margin-bottom: 60px;
      }
      li {
        display: inline-block;
        margin: 0 20px;
        width: 40px;
        height: 40px;
        @media #{$mobile} {
          margin: 0;
          margin-right: 15px;
          width: 25px;
          height: 25px;
        }
        @media #{$tablet} {
          margin: 0 10px;
        }
        a {
          display: block;
          &:hover {
            img {
              filter: none;
              opacity: 1;
            }
          }
          img {
            filter: grayscale(100%);
            opacity: 0.8;
            transition: all 0.3s ease-in-out;
            @media #{$tablet} {
              transform: scale(0.8);
            }
          }
        }
      }
    }
  }
  .copyright {
    border-top: 1px solid #ebe8df;
    padding-top: 39px;
    padding-bottom: 39px;
    font-size: 18px;
    line-height: 28px;
    @media #{$mobile} {
      padding-top: 32px;
      padding-bottom: 60px;
    }
    @media #{$tablet} {
      text-align: center;
    }
    .copyright-txt {
      @media #{$mobile} {
        text-align: center;
        p {
          font-size: 13px;
          line-height: 13px;
        }
      }
      p {
        margin-bottom: 0;
      }
    }
    .copyright-links {
      @media #{$mobile} {
        text-align: center !important;
        margin-bottom: 17px;
      }
      @media #{$tablet} {
        text-align: left;
        margin-bottom: 20px;
      }
      li {
        display: inline-block;
        margin-left: 0;
        @media #{$mobile} {
          font-size: 14px;
          line-height: 28px;
          margin-left: 5px;
        }
        @media #{$tablet} {
          padding: 0;
        }
        &:last-child {
          a:last-child {
            padding-right: 0;
          }
        }
        a {
          color: #5b5863;
          padding: 0 15px;
          display: inline-block;
          transition: color 0.3s ease-in-out;
          @media #{$mobile} {
            padding: 0 8px;
          }
          @media #{$tablet} {
            padding: 0 14px;
          }
          @media #{$betweentabdesk} {
            padding: 0 7px;
          }
          &:hover {
            color: $primaryColor;
          }
        }
      }
    }
  }
}
/* End Footer */

/////////////////////////////////////////////
/* Start wevpn windows page */

// header
.wrapper-header.windows {
  padding-bottom: 150px;
}

.window-header {
  .navbar {
    .login {
      .login-item {
        .login-link {
          color: #fff;
          &:hover {
            color: rgba(#fff, 0.7);
          }
        }
        .get-started {
          background-color: #fff;
          color: $primaryColor;
          &:hover {
            background: #fff;
          }
        }
      }
    }
  }
}

.hero-img.windows {
  .hero-img-content {
    .hero-img-title {
      font-size: 48px;
      line-height: 48px;
      width: 80%;
    }
    .hero-img-text {
      font-size: 24px;
      line-height: 30px;
      margin-top: 32px;
      margin-bottom: 34px;
    }
    .hero-img-list {
      li {
        font-size: 18px;
        line-height: 32px;
        i {
          color: #62d5b4;
          margin-right: 7px;
        }
      }
    }
    .download {
      padding: 24px 51px;
      color: #fd3e72;
      background-color: transparent;
      margin-left: -4px;
      text-decoration: underline;
      &:hover {
        color: #e33866;
        text-decoration: none;
      }

      i {
        margin-right: 7px;
        position: static;
      }
      color: $primaryColor;
      background-color: transparent;
    }
  }
  .hero-img-image {
    img {
      top: 120px;
      left: 0;
    }
  }
  .header-shape.windows {
    top: -565px;
    right: -825px;
    transform: scale(1.1);
  }
}

/* Start Platform */
.platforms {
  padding-top: 40px;
  .platform-content {
    box-shadow: 0px 50px 59px rgba(240, 238, 233, 0.8), 0px 6px 9px #e6e4df;
    display: flex;
    align-items: center;
    height: 136px;
    li {
      font-size: 16px;
      position: relative;
      line-height: 20px;
      font-family: "AvertaSemibold";
      color: rgba(#5b5863, 0.7);
      border-right: 1px solid #ebe8df;
      text-align: center;
      &:not(:first-child) {
        &:after {
          content: "";
          position: absolute;
          background-color: $primaryColor;
          display: block;
          height: 0;
          bottom: 0;
          left: 0;
          right: 0;
          transition: all 0.3s ease-in-out;
          opacity: 0;
          visibility: hidden;
        }
      }
      &.active,
      &:hover {
        &:after {
          opacity: 1;
          visibility: visible;
          height: 4px;
        }
        a {
          background-color: #f7f6f0;
          position: relative;
          height: 100%;

          span {
            opacity: 1;
          }

          img {
            opacity: 1;
          }
        }
      }

      height: 100%;
      a {
        display: block;
        padding: 35px 20px 20px;
        transition: all 0.3s ease-in-out;

        &.apple-icon {
          padding-top: 27px;
        }
      }

      &:last-child {
        border-right: 0;
      }
      &:first-child {
        flex: 1.15;
        padding: 50px 40px 50px;
        text-align: left;
      }
      flex: 1;
      img {
        filter: grayscale(100%);
        opacity: 0.7;
        transition: all 0.3s ease-in-out;
      }
      span {
        display: block;
        font-size: 14px;
        line-height: 20px;
        opacity: 0.7;
        color: #5b5863;
        font-family: "Averta";
        margin-top: 8px;
        transition: all 0.3s ease-in-out;
        &.line-height {
          line-height: 14px;
        }
      }
    }
  }
}
/* End Platform */

/* Start wevpn-setup */
.wevpn-setup {
  padding-top: 60px;

  .wevpn-setup-content {
    padding-bottom: 60px;
    border-bottom: 1px solid #ebe8df;
    .wevpn-setup-info {
      .wevpn-setup-title {
        padding-top: 80px;
        margin-bottom: 20px;
        font-size: 36px;
        line-height: 44px;
      }
      .wevpn-setup-list {
        li {
          font-size: 18px;
          line-height: 32px;
          &:last-child {
            padding-bottom: 20px;
          }
          span {
            width: 20px;
            height: 20px;
            font-size: 12px;
            font-family: "AvertaSemibold";
            background-color: #62d5b4;
            color: #fff;
            line-height: 20px;
            text-align: center;
            border-radius: 50%;
            display: inline-block;
            margin-right: 10px;
          }
          a {
            text-decoration: underline;
            color: $primaryColor;
          }
        }
      }
      p {
        border-top: 1px solid #ebe8df;
        font-size: 14px;
        line-height: 14px;
        padding-top: 20px;
        color: #8d8b92;
        margin-left: 35px;
        a {
          text-decoration: underline;
          color: $primaryColor;
        }
      }
    }
  }
}
/* End wevpn-setup */

/* Start How to use wevpn */
.how-to-use {
  background-color: #fff;
  padding-top: 100px;
  padding-bottom: 350px;
  text-align: center;
  .how-to-use-title {
    font-size: 36px;
    line-height: 44px;
  }
  .step {
    margin-top: 120px;
    .step-text {
      font-size: 20px;
      line-height: 20px;
      position: relative;
      z-index: 1;
      margin-bottom: 75px;
      span {
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 72px;
        line-height: 72px;
        color: #f1efe8;
        font-family: "AvertaBold";
      }
    }
    .step-img {
      // border-right: 1px solid #eae8e0;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: -15px;
        height: 100%;
        width: 1px;
        background-color: #eae8e0;
      }
      &.last {
        &:after {
          display: none;
        }
      }
    }
  }
}
/* End How to use wevpn */

/* Start Video Install */
.video-install {
  .container {
    position: relative;
  }
  .video-install-frame {
    position: absolute;
    background-image: url(../imgs/video-install-bg.png);
    background-position-y: 80%;
    padding: 130px 0;
    top: -250px;
    left: 15px;
    width: 1170px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #5b5863;
      opacity: 0.9;
      z-index: 1;
    }
    .video-install-content {
      text-align: center;
      position: relative;
      z-index: 5;

      a {
        display: inline-block;
        width: 124px;
        height: 124px;
        line-height: 124px;
        border-radius: 50%;
        background-color: $primaryColor;
        color: #fff;
        text-align: center;
        font-size: 35px;
      }
      p {
        font-size: 24px;
        line-height: 32px;
        color: #ffffff;
        width: 60%;
        margin: 25px auto 0;
      }
    }
  }
}
/* End Video Install */

/* Start Testimonials */
.testimonials.windows {
  padding-bottom: 115px;
  .testimonials-text {
    padding-top: 333px;
  }
}

.testimonials.windows .testimonials-slider .slider .owl-carousel {
  position: relative;
  left: 0;
}

.testimonials.windows .owl-theme .owl-nav {
  left: -354px;
}
/* End Testimonials */

.authority.windows {
  background-color: #f9f8f4;
  padding-top: 0;
  .authority-content {
    padding-bottom: 130px;
  }
}

/* Start Features Windows */
.features-windows {
  padding-top: 155px;
  padding-bottom: 175px;
  background-color: #fff;
  .features-windows-title {
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    width: 45%;
    margin: 0 auto 95px;
  }
  .feats {
    .feat {
      padding: 90px 38px 98px;
      text-align: center;
      margin-bottom: 60px;
      width: 350px;
      .feat-title {
        margin-top: 50px;
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 20px;
      }
      .feat-text {
        font-size: 16px;
        line-height: 28px;
      }
      &.one {
        margin-top: 80px;
        background: rgba(#fd3e72, 0.05);
      }
      &.two {
        background: rgba(#c562f3, 0.05);
      }
      &.three {
        background: rgba(#62d5b4, 0.1);
        margin: 0 auto 60px;
      }
      &.four {
        background: rgba(#766cf0, 0.1);
        margin: 0 auto 60px;
      }
      &.five {
        margin-top: 80px;
        margin-left: auto;
        background: rgba(#f47c5c, 0.1);
      }
      &.six {
        background: rgba(#6ca9f0, 0.1);
        margin-left: auto;
      }
    }
  }
  .feats-btn {
    button {
      font-size: 20px;
      line-height: 25px;
      background-color: #ffecf1;
      color: $primaryColor;
      width: 100%;
      height: 72px;
      line-height: 72px;
      text-align: center;
      &:hover {
        background-color: $primaryColor;
        color: #fff;
        i {
          color: #fff;
        }
      }
    }
  }
}
/* End Features Windows */

/* Start Benefits */
.benefits {
  background-color: #fff;
  padding-bottom: 155px;

  .benefits-wrapper {
    padding-top: 155px;
    border-top: 1px solid #ebe8df;
    .benefits-content {
      .benfits-title {
        font-size: 36px;
        line-height: 44px;
        margin-bottom: 80px;
        width: 80%;
      }
      .benefits-list {
        .benefit-item {
          position: relative;
          padding-left: 100px;
          margin-bottom: 80px;
          .icon {
            position: absolute;
            top: 0;
            left: 0;
            box-shadow: 0px 50px 59px rgba(240, 238, 233, 0.8),
              0px 3px 8px #e6e4df;
            width: 72px;
            height: 72px;
            line-height: 72px;
            text-align: center;
            img {
              transform: scale(0.52);
            }
          }
          .benefit-item-title {
            font-size: 20px;
            line-height: 20px;
            margin-bottom: 10px;
          }
          .benefit-item-txt {
            font-size: 14px;
            line-height: 24px;
          }
        }
      }
      .benefits-btn {
        button {
          padding: 21px 96px;
          font-size: 20px;
          color: $primaryColor;
          background-color: #ffecf1;
          &:hover {
            background-color: $primaryColor;
            color: #fff;
            i {
              color: #fff;
            }
          }
        }
      }
    }
    .benefit {
      position: relative;
      .benefits-img {
        margin-top: 170px;
        width: 695px;
        height: 695px;
        border-radius: 50%;
        background-color: #f9f8f4;
        overflow: hidden;
        position: relative;
        img {
          position: absolute;
          right: 110px;
          top: 130px;
        }
      }
      .benfits-img-two {
        position: absolute;
        bottom: 245px;
        left: 86px;
        box-shadow: 90px 120px 149px rgba(186, 185, 181, 0.54);
        border-radius: 10px;
      }
    }
  }
}
/* End Benefits */

/* Start Devices operating system */
.devices-os {
  padding-top: 155px;
  padding-bottom: 155px;
  .devices-content {
    .devices-title {
      padding-top: 70px;
      font-size: 36px;
      line-height: 44px;
      width: 80%;
      @media #{$mobile} {
        padding-top: 50px;
        font-size: 24px;
        line-height: 28px;
        width: 70%;
        margin-bottom: 0;
      }
      @media #{$tablet} {
        padding-top: 100px;
        font-size: 30px;
        line-height: 36px;
      }
    }
    .devices-desc {
      font-size: 18px;
      line-height: 28px;
      margin-top: 26px;
      margin-bottom: 40px;
      width: 90%;
      @media #{$maxTab} {
        font-size: 16px;
        line-height: 28px;
        width: 100%;
        margin-top: 24px;
        margin-bottom: 21px;
      }
      @media #{$tablet} {
        width: 100%;
      }
    }
    .devices-btn {
      padding: 24px 57px;
      @media #{$mobile} {
        padding: 22.5px 51.5px;
      }
    }
  }
}
/* End Devices operating system */

/* Start FAQ */
.faq {
  background-color: #fff;
  padding-top: 134px;
  .faq-title {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 70px;
  }
  .accordion {
    width: 650px;
    margin: auto;
    .question {
      border-bottom: 1px solid #dfddd6;
      &:last-child {
        border: 0;
      }
      .question-header {
        h2 {
          position: relative;
          padding-bottom: 32px;
          padding-top: 32px;
          font-size: 20px;
          line-height: 20px;
          text-decoration: none;
          color: #5b5863;
          cursor: pointer;
          margin-bottom: 0;

          &.collapsed {
            span {
              opacity: 0.7;
            }

            &:after {
              content: "\f067";
              font-family: fontawesome;
              position: absolute;
              top: 50%;
              right: 20px;
              transform: translateY(-50%);
              font-size: 15px;
              color: #878489;
            }
            img {
              filter: grayscale(100%);
            }
          }
          &:after {
            content: "\f068";
            font-family: fontawesome;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            font-size: 15px;
            color: $primaryColor;
          }
          img {
            filter: none;
            margin-right: 5px;
          }

          i {
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            font-size: 15px;
          }
        }
      }

      .question-body {
        margin-bottom: 32px;
        margin-left: 40px;

        font-size: 14px;
        line-height: 24px;
        p:first-child {
          margin-bottom: 20px;
        }
      }
    }
  }
  .faq-btn {
    text-align: center;
    margin-top: 40px;
    padding-bottom: 135px;
    button {
      background-color: #ffecf1;
      color: $primaryColor;
      padding: 24px 95px;
      &:hover {
        background-color: $primaryColor;
        color: #fff;
        i {
          color: #fff;
        }
      }
    }
  }
}

/* End FAQ */

/* Start Risk Free */
.risk-free {
  background-image: url(../imgs/how-use-bg.png);
  padding: 134px 0;
  background-position-x: 43%;
  &-content {
    .risk-free-title {
      font-size: 36px;
      line-height: 44px;
      width: 45%;
      margin: auto;
      margin-bottom: 60px;
    }
    .risk-free-img {
      margin-bottom: 38px;
    }
    .risk-free-txt {
      font-size: 18px;
      line-height: 28px;
      width: 36%;
      margin: 0 auto 44px;
      a {
        color: $primaryColor;
      }
    }
    .risk-free-btn {
      button {
        padding: 24px 64px;
      }
    }
  }
}
/* End Risk Free */

.servers.windows {
  border-bottom: 1px solid #ebe8df;
}
